<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Coding Dojo MEAN assignment Cars and Cats">
    <title>Cars and Cats - Cars</title>
    <link rel="stylesheet" type="text/css" href="/css">
</head>

<body>
    <main class="center eighty">
        <div class="imgHldr">
            <img src="car1" alt="Car Pic">
            <img src="car2" alt="Car Pic">
        </div>
        <!-- end_of_center-->
    </main>
</body>

</html>