<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Coding Dojo MEAN assignment Cars and Cats">
    <title>Cars and Cats - Cats</title>
    <link rel="stylesheet" type="text/css" href="/css">
</head>

<body>
    <main class="center eighty">
        <div class="imgHldr">
            <h1>Persian cats and french bulldogs rules</h1>
            <img src="http://localhost:8000/cat1" alt="Cat Pic">
            <img src="http://localhost:8000/cat2" alt="Cat Pic">
            <img src="http://localhost:8000/dog1" alt="Dog Pic">
            <img src="http://localhost:8000/dog2" alt="Dog Pic">

        </div>
        <!-- end_of_center-->
    </main>
</body>

</html>