<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Coding Dojo MEAN assignment Cars and Cats">
    <title>Cars and Cats - New Car</title>
    <link rel="stylesheet" type="text/css" href="/css">
</head>

<body>
    <main class="center eighty">
        <form class="fifty center" method="post">
            <label class="forty" for="make">Make:</label>
            <input class="sixty" type="text" name="make">
            <label class="forty" for="model">Model:</label>
            <input class="sixty" type="text" name="model">
            <label class="forty" for="year">Year:</label>
            <input class="sixty" type="text" name="year">
            <label class="hundo" for="description">Please provide a brief description:</label>
            <textarea class="hundo" name="description" rows="8" cols="80"></textarea>
        </form>
    </main>
</body>

</html>