<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="subdiv">
    <h4><button (click)="onButton('PST')" ng-class="{'active-button'}">PST</button></h4>
  </div>
  <div class="subdiv">
    <h4><button (click)="onButton('MST')" ng-class="{'active-button'}">MST</button></h4>
  </div>
  <div class="subdiv">
    <h4><button (click)="onButton('CST')" ng-class="{'active-button'}">CST</button></h4>
  </div>
  <div class="subdiv">
    <h4><button (click)="onButton('EST')" ng-class="{'active-button'}">EST</button></h4>
  </div>
  <div class="subdiv">
    <h4><button button (click)="onButtonCLEAR('CLEAR')">CLEAR</button></h4>
  </div>

  <h3>{{ date | date:'medium' }}</h3>



</div>

