<div class="main">
  <span>Main Component</span>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue malesuada nisi non iaculis. Nullam convallis feugiat
    est non aliquam. Donec imperdiet varius magna, non ornare augue congue sed. Donec justo est, suscipit eget lacus rutrum,
    imperdiet cursus libero. Nullam rutrum ex in ultricies commodo. Integer placerat odio scelerisque consequat commodo. Donec
    dolor turpis, semper et tellus in, ornare mattis felis. Duis ligula leo, lobortis id commodo id, semper et eros. Phasellus
    ullamcorper nibh id nunc tristique maximus. Nulla rhoncus sed felis at dapibus. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. 
    <br>
    Curabitur vel ligula vehicula, scelerisque erat a, aliquam neque. Aenean vel erat
    ut turpis sodales mattis. Donec placerat gravida elit, vestibulum semper quam elementum quis. Mauris est ex, pulvinar quis
    mi id, tempor sagittis mi. Praesent placerat sit amet felis ut pulvinar. Proin tristique laoreet massa, ut interdum nulla
    rhoncus et. Nam diam velit, rhoncus at fringilla vitae, dictum tempor sapien. Vestibulum nisi orci, finibus non nisl a, interdum
    lacinia risus. Maecenas non ultrices dui. Donec sit amet lectus porttitor, bibendum nisl ut, mattis ante. Nullam massa sem,
    dictum a erat nec, porta accumsan purus. Aenean leo ante, tincidunt sed augue ut, lacinia lobortis nunc. Maecenas euismod
    faucibus sapien eget accumsan. Integer id aliquet nibh. Pellentesque non enim at mi gravida lacinia sit amet sagittis massa.
    Quisque a dui quis eros fringilla sodales vestibulum non ipsum.
  </p>
</div>
