<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form  class="ninety center" action="/CreateUser" method="post">
        <label class="fifty" for="email">Email:</label>
        <input class="fifty" type="text" name="email"><br>
        <label class="fifty" for="first_name">First Name:</label>
        <input class="fifty" type="text" name="first_name"><br>
        <label class="fifty" for="last_name">Last Name:</label>
        <input class="fifty" type="text" name="last_name"><br>
        <label class="fifty" for="password">Password:</label>
        <input class="fifty" type="password" name="password"><br>
        <label class="fifty" for="password_confirm">Password Confirm:</label>
        <input class="fifty" type="password" name="confirm_password"><br>
        <label class="fifty" for="birthday">Birthday:</label>
        <input class="fifty" type="date" name="birthday"><br>
        <input class="btn btn-pop" type="submit" name="submit" value="Submit">
    </form>
    <br>
    <br>
    
    <form class="ninety center" action="/Login" method="post">
        <label class="fifty" for="email">Email:</label>
        <input class="fifty" type="text" name="email">
        <br>
        <label class="fifty" for="password">Password:</label>
        <input class="fifty" type="password" name="password">
        <br>
        <input class="btn btn-pop" type="submit" name="submit" value="Submit">
    </form>
    
</body>
</html>