/* You can add global styles to this file, and also import other style files */
button{
    width: 60px;
    height: 60px;
    border-radius: 0px;
    margin-top: -20px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.subdiv{
    display: inline-block;
    vertical-align: top;
}

button active {
    background: blue;
}

.active-button{
  background-color:green;
}