.ng-invalid { 
    color: red;
}
.ng-valid {
    color: rgb(0, 17, 255);
 }
.ng-untouched { 
    color: red;
}
.ng-touched {
    color: rgb(17, 0, 255);
 }
/* .ng-dirty { 
    color: rgb(231, 94, 94);
} */
.ng-pristine {
    color: rgb(14, 13, 13);
 }
.form{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 800px;
}
form{
    display: inline-block;
    vertical-align: top;
}
label{
    color: black;
}
.validwords{
    color: rgb(77, 77, 77);
}
