.thisDiv{
    vertical-align: top;
    display: inline-block;
    background: brown;
    
}
button{
    width: 60px;
    height: 60px;
}


.on{
    background-color: green;
}


button{
    background-color: red;
}